@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h3>Add a flavor to @Html.DisplayFor(model => model.Description)</h3>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save"/>
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Back to Treats list", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>