@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@using System.Security.Claims
@model IEnumerable<SweetAndSavory.Models.Flavor>

<h1>Welcome @User.Identity.Name</h1>
<br>
@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}
<br>
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add new flavor", "Create")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Search", "Search", "Flavors", null)</p>